certifi==2018.1.18
chardet==3.0.4
click==6.7
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
lxml==4.1.1
MarkupSafe==1.0
pandas-datareader==0.6.0
python-dateutil==2.6.1
pytz==2018.3
requests-file==1.4.3
requests-ftp==0.3.1
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
urllib3==1.24.2
Werkzeug==0.15.3
wrapt==1.10.11
Keras==2.2.5
numpy==1.17.3
Flask==1.1.1
requests==2.22.0
tqdm==4.36.1
matplotlib==3.1.1
pandas==0.25.2
mwparserfromhell==0.5.4
beautifulsoup4==4.9.0
