<html>
	<body style = "font-family:georgia,garamond,serif;font-size:16px;font-style:italic;" onload="getCars()">
		
		<center><h2> Movie Recommender </h2> <br>
		
		<h3> Enter your favourite movie! </h3> <br>
		
		<input list="movies" placeholder="search movies" autofocus autocomplete="on" id="movie_name">
		<datalist id="movies" onchange="show(this)" maxlength=10></datalist>
		<script src="/static/jquery.min.js" type="text/javascript"></script>
		<input type="submit" onclick="displayRecommends()"> <br> <br>
		<div id="place_for_recommendations"></div>

		<script>
			// Function to populate datalist using movies1.json
			function getCars() {
				var url, carOption;
				url = "/static/movies1.json";

				$.getJSON(url, function(data) {
				//populate the cars datalist
						$(data).each(function() {
							carsOption = "<option value='" + this + "'>" + this + "</option>";
							$('#movies').append(carsOption);
						});
				});
			}
			
			// Function to request to app.py and display results
			function displayRecommends(){
				var text = $('#movie_name').val();

				$.ajax({
					url: "/recommend",
					type: "get",
					data: {jsdata: text},
					success: function(response) {
						$("#place_for_recommendations").html(response);
					},
					error: function(xhr) {
						//Do Something to handle error
					}
				});
			}
		</script>
		
		
	</body>
	
</html>
